.centerBody{
    background-color: black;
    justify-content: left;
    text-align: left;
    width: 95%;
    color: white;
    padding: 5px;
    border-radius:  35px;
    border-style: groove;
}
.headerColumn{
    text-align: left;
    justify-content: center;
    width: 100px;
}
.headerColumnid{
    text-align: center;
    justify-content: center;
    width: 20px;
}
.ColumnID{
    text-align: center;
    justify-content: center;
    width: 20px;
}