.rightHeader{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius:  35px;
    border-style:groove;
    width: 220px;
    border-right: 5%;
}
.inputButton{
    width: 180px;
}